.create-song-button {
  padding: 1rem;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #2d545e;
  margin-bottom: 3px;
}

.create-song-container .create-song-cancel-button {
  background-color: rgb(236, 54, 54);
  color: white;
  border-radius: 0;
}

.create-song-button:hover {
  color: white;
}

.search {
  padding: 8px;
  width: 100%;
}

.create-song-container {
  display: flex;
}

.create-song-container input {
  padding: 7px;
  width: 100%;
  text-transform: capitalize;
  border-radius: 5px 0 0 5px;
}

.create-song-container button {
  width: 80px;
  cursor: pointer;
  background-color: #f6c026;
  color: #0c4a60;
  border: none;
  font-weight: bolder;
  border-radius: 0 5px 5px 0;
}

.create-song-container button:hover {
  background-color: #abdff1;
  color: black;
}

.home-songs-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 8px;
}

.home-songs-container li {
  text-align: start;
  background-color: white;
  color: black;
  padding: 9px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.home-songs-container li:hover {
  background-color: whitesmoke;
}

.home-songs-container li h3 {
  white-space: nowrap;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
  font-size: 1.6rem;
}

.home-songs-container li > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  align-items: center;
}

.home-songs-container li > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-songs-container li > div p span {
  color: darkorange;
}

.home-songs-container li > div svg {
  font-size: 2.2rem;
  cursor: pointer;
}

.home-songs-container li > div svg:hover {
  color: red;
}

@media screen and (max-width: 992px) {
  .create-song-container button:hover {
    background-color: #f6c026;
    color: #0c4a60;
  }
}
