/* @import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;500;600;700;800;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* background-color: #dfa76b; */
  background-image: radial-gradient(#e9b379, #dfa76b);
}

input,
textarea,
button {
  font-size: inherit;
}

button {
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

ul,
ol {
  list-style: none;
}

.App {
  font-size: 1.6rem;
  text-align: center;
  display: flex;
  /* flex-direction: column; */
  min-height: 100vh;
  gap: 3rem;
  /* background-color: #dfa76b; */
  background-image: radial-gradient(#e9b379, #dfa76b);
  color: white;
  /* font-family: "Jost", sans-serif; */
  font-family: "Space Grotesk", sans-serif;
  max-width: 150rem;
  margin: 0 auto;
}

.App > section {
  width: calc(62% - 34px);
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-right: 2rem;
}

.App > section.playing {
  padding-bottom: 8rem;
}

h1 {
  color: white;
  text-transform: uppercase;
  text-align: left;
}

h3 {
  text-align: start;
  margin-bottom: 3px;
}

header {
  position: sticky;
  top: 0;
  margin-bottom: 1.8rem;
}

footer {
  position: sticky;
  bottom: 0;
  background-color: #0c4a60;
  padding: 4px;
  padding-bottom: 5px;
}

main {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}

main .back-button {
  width: max-content;
  background-color: rgb(236, 236, 236);
  padding: 1px 2rem;
  color: black;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  margin-left: auto;
  cursor: pointer;
  margin-bottom: 6px;
}

@media screen and (min-width: 1200px) {
  .App {
    margin: 0 auto;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1024px) {
  .App {
    font-size: 1.45rem;
  }
}

@media screen and (max-width: 768px) {
  .App {
    font-size: 1.35rem;
  }

  h1 {
    font-size: 2.5rem;
  }
}
